<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534028674873-ui524h0isdq0g6og7ri1em1uus1uv052.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534028674873-ui524h0isdq0g6og7ri1em1uus1uv052</string>
	<key>API_KEY</key>
	<string>AIzaSyAXxZVUO8Ol_eu9JbksmpSXiele6gUa2hk</string>
	<key>GCM_SENDER_ID</key>
	<string>534028674873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>clive.dumisani-gmail.com.standardbankApp</string>
	<key>PROJECT_ID</key>
	<string>standardbankapp-233f3</string>
	<key>STORAGE_BUCKET</key>
	<string>standardbankapp-233f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534028674873:ios:12f30c8e26b57cb25feae8</string>
	<key>DATABASE_URL</key>
	<string>https://standardbankapp-233f3.firebaseio.com</string>
</dict>
</plist>